# Access DynamoDB from within a Python Using PartiQL

## Add the necessary information to connect

In [21]:
import boto3

# Credentials
aws_access_key_id = "AKIA2VMDNOUUIJO4THVC" # YOUR_ACCESS_KEY
aws_secret_access_key = "16PsJGN2Q2u/5aqMBTiOv0Peacb8oQIxBIyfIm9K" # YOUR_SECRET_KEY
region_name = 'us-west-2' #us-west-2 is Oregon


client = boto3.client('dynamodb', aws_access_key_id = aws_access_key_id, aws_secret_access_key = aws_secret_access_key, region_name = region_name)

stmt = "INSERT INTO Music VALUE {'id': '1', 'SongTitle': 'Imagine', 'Artist': 'John Lennon'}"

response = client.execute_statement(Statement= stmt)

print(response)

{'Items': [], 'ResponseMetadata': {'RequestId': 'GITHK91D902T1O34GK2SSPDFHFVV4KQNSO5AEMVJF66Q9ASUAAJG', 'HTTPStatusCode': 200, 'HTTPHeaders': {'server': 'Server', 'date': 'Wed, 01 Nov 2023 22:12:02 GMT', 'content-type': 'application/x-amz-json-1.0', 'content-length': '12', 'connection': 'keep-alive', 'x-amzn-requestid': 'GITHK91D902T1O34GK2SSPDFHFVV4KQNSO5AEMVJF66Q9ASUAAJG', 'x-amz-crc32': '2770214093'}, 'RetryAttempts': 0}}

## Insert Data into DynamoDB

In [17]:
import boto3

# Credentials should not be hardcoded in production code
# It's better to use environment variables or IAM roles

# Only for educational/demo purposes, replace with your own credentials
aws_access_key_id = "AKIA2VMDNOUUIJO4THVC" # YOUR_ACCESS_KEY
aws_secret_access_key = "16PsJGN2Q2u/5aqMBTiOv0Peacb8oQIxBIyfIm9K" # YOUR_SECRET_KEY
region_name = 'us-west-2'

# Create a DynamoDB client using your credentials
client = boto3.client(
    'dynamodb',
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    region_name=region_name
)

# This example uses the execute_statement API which is a part of Amazon DynamoDB PartiQL
# The syntax below is incorrect, here's how to fix it:
stmt = """
INSERT INTO dojotable VALUE {'id': {'S': '1'}, 'firstname': {'S': 'John'}, 'lastname': {'S': 'Smith'}}
"""

# Make sure your DynamoDB table (dojotable) and primary key attribute (id) are correctly specified
try:
    response = client.execute_statement(Statement=stmt)
    print(response)
except client.exceptions.ClientError as e:
    # Handle specific exceptions as per your needs
    print("An error occurred:", e)

An error occurred: An error occurred (ValidationException) when calling the ExecuteStatement operation: Key attribute's data type should match its data type in table's schema: Key id

## Updarte Data in a Table

In [ ]:
import boto3

client = boto3.client('dynamodb')

stmt = "UPDATE dojotable SET firstname='Robert' where id='1'"
   
response = client.execute_statement(Statement= stmt)

print(response

## Delete Data within DynamoDB

In [ ]:
import boto3

client = boto3.client('dynamodb')

stmt = "DELETE FROM dojotable WHERE id = '1'"
	
response = client.execute_statement(Statement= stmt)

print(response)

## Select Data from within DynamoDB

In [22]:
import boto3

client = boto3.client('dynamodb', aws_access_key_id = aws_access_key_id, aws_secret_access_key = aws_secret_access_key, region_name = region_name)

stmt = "SELECT * FROM Music"
   
response = client.execute_statement(Statement= stmt)

print(response["Items"])

[{'id': {'S': '1'}, 'Artist': {'S': 'John Lennon'}, 'SongTitle': {'S': 'Imagine'}}]